################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutomaticUploader/bin
/AutomaticUploader/obj
/AutomaticUploader/Properties/launchSettings.json
